<h1> Flights Index Page</h1>
Distance  <%= @flights['trips']['tripOption'][0]['slice'][0]['segment'][0]['leg'][0]['mileage'] %>
<br>
<hr>
Price
<% @flights['trips']['tripOption'].each do |flight| %>

  $$: <%= flight['saleTotal'] %>
  Mileage: <%= flight['slice'][0]['segment'][0]['leg'][0]['mileage'] %>

<!-- #code to not divide by zero -->
  <% if (flight['saleTotal'].gsub(/[^\d\.-]/,'').to_i) != 0  %>

    <!-- #check ratio -->
    <% if (flight['slice'][0]['segment'][0]['leg'][0]['mileage'].to_i) / (flight['saleTotal'].gsub(/[^\d\.-]/,'').to_i) > 10  %>
      Miles Per Dollar (mp$) =  <%= (flight['slice'][0]['segment'][0]['leg'][0]['mileage'].to_i) / (flight['saleTotal'].gsub(/[^\d\.-]/,'').to_i) %> mp$
      This is a great deal!!
    <% elsif (flight['slice'][0]['segment'][0]['leg'][0]['mileage'].to_i) / (flight['saleTotal'].gsub(/[^\d\.-]/,'').to_i) > 8 %>
      Miles Per Dollar (mp$) =  <%= (flight['slice'][0]['segment'][0]['leg'][0]['mileage'].to_i) / (flight['saleTotal'].gsub(/[^\d\.-]/,'').to_i) %> mp$
      This is a decent deal
    <% else %>
      Miles Per Dollar (mp$) =  <%= (flight['slice'][0]['segment'][0]['leg'][0]['mileage'].to_i) / (flight['saleTotal'].gsub(/[^\d\.-]/,'').to_i) %> mp$
      This is a bad deal
    <% end %>

  <% else %>
    mileage is 0 and you cannot get price per mile because you cannot divide by 0
  <% end %>
     <br>
<% end %>
