<h1> Flights Index Page</h1>


<hr>

<% @flights['trips']['tripOption'].each do |flight| %>


<!-- #code to not divide by zero -->
  <% if (flight['saleTotal'].gsub(/[^\d\.-]/,'').to_i) != 0  %>

    <!-- #check ratio -->
    <% if (flight['slice'][0]['segment'][0]['leg'][0]['mileage'].to_i) / (flight['saleTotal'].gsub(/[^\d\.-]/,'').to_i) > 8  %>
      <div class="flight-div">
        Destionation: <%= flight['slice'][0]['segment'][0]['leg'][0]['destination'] %>
        <br>
        Total Travel Time: <%= flight['slice'][0]['duration'] %> - Minutes
        <br>
        Airline Carrier <%= flight['slice'][0]['segment'][0]['flight']['carrier'] %>
        <br>
        Airline Number <%= flight['slice'][0]['segment'][0]['flight']['number'] %>
        <br>
        Price: <%= flight['saleTotal'] %>
        <br>
        Mileage: <%= flight['slice'][0]['segment'][0]['leg'][0]['mileage'] %>
        <br>
        Arrival Time: <%= flight['slice'][0]['segment'][0]['leg'][0]['arrivalTime'] %>
        <br>
        Departure Time: <%= flight['slice'][0]['segment'][0]['leg'][0]['departureTime'] %>
        <br>
        Miles Per Dollar (mp$) =  <%= (flight['slice'][0]['segment'][0]['leg'][0]['mileage'].to_i) / (flight['saleTotal'].gsub(/[^\d\.-]/,'').to_i) %> mp$
        <br>
        This is a great deal!!
        <br>
        <hr>

     </div>
    <%# elsif (flight['slice'][0]['segment'][0]['leg'][0]['mileage'].to_i) / (flight['saleTotal'].gsub(/[^\d\.-]/,'').to_i) > 8 %>
      <!-- Miles Per Dollar (mp$) =  <%= (flight['slice'][0]['segment'][0]['leg'][0]['mileage'].to_i) / (flight['saleTotal'].gsub(/[^\d\.-]/,'').to_i) %> mp$ -->
      <!-- <br> -->
      <!-- This is a decent deal -->
      <!-- <br> -->
    <%# else %>
      <!-- Miles Per Dollar (mp$) =  <%= (flight['slice'][0]['segment'][0]['leg'][0]['mileage'].to_i) / (flight['saleTotal'].gsub(/[^\d\.-]/,'').to_i) %> mp$ -->
      <!-- <br> -->
      <!-- This is a bad deal -->
      <!-- <br> -->
    <% end %>

  <% else %>
    mileage is 0 and you cannot get price per mile because you cannot divide by 0
  <% end %>
   <br>

<% end %>
