<!DOCTYPE html>
<html>
  <head>
    <title>GoogleFlights</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
    <!-- <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
         <div class="bg-inverse p-4"> -->

        <!-- </div>  -->
      <!-- </div> -->
      <!-- <nav class="navbar navbar-inverse bg-inverse">
        <button class="btn btn-lg btn-danger" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav> -->
    <!-- </div> -->
      <div class="row nav-left" >
        <div class="col-md-3 nav-left">
          <div class="nav-bar" id="first-nav">

            <h1> <%= link_to "Search Flights",  '/' %></h1>

          </div>
          <div class="nav-bar" id="second-nav">
            <h1> <%= link_to "The Algorithim",  '/the-calculations' %></h1>
          </div>
          <div class="nav-bar" id="third-nav">
            <h1><%= link_to "Your Saved Flights",  userflights_path %></h1>
          </div>
          <div class="nav-bar" id="fourth-nav">
              <h1> <%= link_to "About James",  '/about-james' %></h1>
          </div>
        
        </div>
        <div class="col-md-9 nav-body">
          <h3 class="my-sign"> <%= link_to 'Sign Out',  destroy_user_session_path, :method => "delete" if user_signed_in? %> </h3>
          <h3 class="my-sign">  <%= link_to "Sign In |", new_user_session_path if !user_signed_in? %>  <%= link_to "Sign Up", new_user_session_path if !user_signed_in? %></h3>
          <h3 class="my-sign"></h3>
          <h3 class="my-sign"><%= yield %>
        </div>
      </div>



  </body>
</html>
