<!DOCTYPE html>
<html>
  <head>
    <title>GoogleFlights</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />

  </head>

  <body>
      <div class="row nav-left" >
        <div class="col-md-4 nav-left">
          <div class="nav-bar">

          <h1> <%= link_to "Home",  '/' %></h1>

            <%= link_to 'Sign Out',  destroy_user_session_path, :method => "delete" if user_signed_in? %>
            <%= link_to "Sign In", new_user_session_path if !user_signed_in? %>
            <%= link_to "Sign Up", new_user_registration_path if !user_signed_in? %>
          </div>
          <div class="nav-bar">
            <h1>About</h1>
          </div>
          <div class="nav-bar">
            <h1><%= link_to "Your Saved Flights",  '/' %></h1>
          </div>
          <div class="nav-bar">
            <h1>James</h1>
          </div>
          <div class="nav-bar">
            <h1>James</h1>
          </div>

        </div>
        <div class="col-md-8 nav-body">
          <%= yield %>
        </div>
      </div>

    <%= link_to 'Sign Out',  destroy_user_session_path, :method => "delete" if user_signed_in? %>
    <%= link_to "Sign In", new_user_session_path if !user_signed_in? %>
    <%= link_to "Sign Up", new_user_session_path if !user_signed_in? %>

  </body>
</html>
